@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.7rem;
  font-weight: 400;
  color: #2B283A;
}
/* === Nav === */
.nav-container {
  background-color: #F55A5A;
  height: 55px;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFFFFF;
  gap: 8px;
}
/* === Card === */
.section-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 30px 0px;
}
.card-image {
  width: 125px;
  height: 168px;
}
.card-text-container {
  display: flex;
  flex-direction: column;
  width: 326px;
  text-align: left;
}
.card-title-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}
.card-maps-link {
  color: #918E9B;
  text-decoration: underline;
  padding-left: 8px;
}
.card-h2-title {
  margin: 0px 0px 15px 0px;
  font-size: 1.6rem;
}

