@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* === Nav === */
.nav-container {
  background-color: #F55A5A;
  height: 55px;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* === Card === */
.section-card {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.card-image {
  width: 125px;
  height: 168px;
}
.card-text-container {
  display: flex;
  flex-direction: column;
  width: 326px;
}
.card-title-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
}

